#pragma once
#include "od_include.hpp"
#define OD_OBJECTS_COUNT {{objects|length}}
{% for define in defines %}
#define {{define}}
{% endfor %}

namespace {{namespace}}
{
    class ObjectDictionnary
    {
    private:
        struct 
        {
            struct
            {
                struct
                {
                {% for object in objects %}
                {% for declaration in object.renderData() %}
                {{declaration}};
                {% endfor %}
                {% endfor %}
                } data;
                {% for object in objects %}
                {{object.renderEntry()}};
                {% endfor %}
            } entries;
            {% for object in objects %}
            {{object.renderObject()}};
            {% endfor %}
        } objects;
        const uint16_t length = OD_OBJECTS_COUNT;
        Object *objectsArray[OD_OBJECTS_COUNT] = {&objects.{{objectNames|join(', &objects.')}}};
    public:
        Object *findObject(uint16_t index);
        bool saveData(uint8_t parameterGroup);
        bool loadData(uint8_t parameterGroup);
    };
}
