#pragma once
#include <cstdint>
#include "od_classes.hpp"
#define OD_OBJECTS_COUNT {{objects|length}}

class ObjectDictionnary : public IObjectDictionnary
{
    struct 
    {
        struct
        {
            struct
            {
            {% for object in objects %}
            {% for declaration in object.renderData() %}
            {{declaration}};
            {% endfor %}
            {% endfor %}
            } data;
            {% for object in objects %}
            {{object.renderEntry()}};
            {% endfor %}
        } entries;
        {% for object in objects %}
        {{object.renderObject()}};
        {% endfor %}
    } objects;
    const unsigned length = OD_OBJECTS_COUNT;
    Object objects[OD_OBJECTS_COUNT] = { {{renderedObjects|join(', ')}} };
};
