#pragma once
#include "system.hpp"

inline void emptyGetter(Data &data) {}

inline void emptySetter(const Data &data) {}

{% for object in objects %}
{% for subobject in object.entries %}
{% if subobject.remote_setter != "none" %}
inline void get{{object.cpp_instance_name}}{{subobject.cpp_instance_name}}(Data &data) {
    data.{{subobject.type_code}} = {{subobject.remote_getter}}();
}
inline void set{{object.cpp_instance_name}}{{subobject.cpp_instance_name}}(const Data &data) {
    {{subobject.remote_setter}}(data.{{subobject.type_code}});
}
{% endif %}
{% endfor %}
{% endfor %}

void (*remoteGetter[{{ subindex_count }}])(Data &data) = {
    {% for object in objects %}
    {% for subobject in object.entries %}
    {% if subobject.remote_getter != "none" %}
    &get{{object.cpp_instance_name}}{{subobject.cpp_instance_name}},
    {%else%}
    emptyGetter,
    {% endif %}
    {% endfor %}
    {% endfor %}
};

void (*remoteSetter[{{ subindex_count }}])(const Data &data) = {
    {% for object in objects %}
    {% for subobject in object.entries %}
    {% if subobject.remote_setter != "none" %}
    &set{{object.cpp_instance_name}}{{subobject.cpp_instance_name}},
    {%else%}
    emptySetter,
    {% endif %}
    {% endfor %}
    {% endfor %}
};
