#pragma once

#define CONFIG_PWM_FREQUENCY {{factory_parameters["pwmFrequency"]}}
#define CONFIG_PWM_DEADBAND {{factory_parameters["pwmDeadBand"]}}
#define CONFIG_ADC_SAMPWIN {{factory_parameters["adcSampwin"]}}
#define CONFIG_ABSOLUTE_MAX_VOLTAGE {{factory_parameters["absoluteMaxVoltage"]/1000}}
#define CONFIG_ABSOLUTE_MAX_CURRENT {{factory_parameters["absoluteMaxCurrent"]/1000}}
#define CONFIG_VELOCITY_PRESCALE {{factory_parameters["velocityPrescale"]}}
