# {{module}}

{{description}}

## Objects
{% for object in objects %}
## Object {{ object.index_hex | upper }} {{ object.name }}
{{ object.description }}
{% if object.remote%}
[x] Remote
{% else %}
[ ] Remote
{% endif %}

| Name | Type | default |
| --- | --- | --- |
{% for data in object.data %}
| {{ data.name }} | {{ data.type }} | {{ data.default }} |
{% endfor %}
{% endfor %}