# Standard Profile Definitions

{% for profile in profiles %}
## Profile {{ profile.profile }} {{ profile.name}}
| Index | Name |
| --- | --- |
{% for object in profile.objects %}
| **{{ object.index }}**| {{ object.name }} |
{% for data in object.data %}
|  {{ data.name }} | {{ data.type }} |
{% endfor %}
{% endfor %}
{% endfor %}

# Object Dictionary

{% for object in objects %}
## Object {{ object.index_hex }} {{ object.name }} | {{ object.module}}
{{ object.description }}
{% if object.remote%}
[x] Remote
{% else %}
[ ] Remote
{% endif %}
| Name | Type | default |
| --- | --- | --- |
{% for data in object.data %}
| {{ data.name }} | {{ data.type }} | {{ data.default }}
{% endfor %}
- getter 
    - {{object.get}}
- setter 
    - {{object.set}}
{% endfor %}
