# Object Dictionary

{% for module in modules %}
## Module {{ module }}
| Index | name |
| --- | --- |
{% for object in objects %}
{% if object.module == module %}
| {{ object.index_hex }} | [{{ object.name }}](/modules/{{object.module}}.md?id={{ object.name | replace(' ', '-') }}) |
{% endif %}
{% endfor %}
{% endfor %}

{% for object in objects %}
## {{ object.index_hex | upper }}
{{ object.description }}
{% if object.remote%}
- [x] Remote
{% else %}
- [ ] Remote
{% endif %}

| Name | Type | default |
| --- | --- | --- |
{% for data in object.data %}
| {{ data.name }} | {{ data.type }} | {{ data.default }} |
{% endfor %}
{% endfor %}
