# Object Dictionary

{% for module in modules %}
## Module {{ module }}

| Index | name |
| --- | --- |
{% for object in objects %}
{% if object.module == module %}
| {{ object.index_hex }} | [{{ object.name }}](modules/{{object.module}}/#{{ object.name | replace(' ', '-') | lower }}) |
{% endif %}
{% endfor %}

{% endfor %}
