# {{module}}

{{description}}

## Objects
{% for object in objects %}
### {{ object.name }}
**0x{{ object.index_hex | upper }}**
{{ object.description }}


| Name | Type | default |
| --- | --- | --- |
{% for data in object.data %}
| {{ data.name }} | {{ data.type }} | {{ data.default }} |
{% endfor %}

{% endfor %}